<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zodiac Sign Predictor</title>
    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="app/css/main.css" rel="stylesheet">
  </head>
  <body>
    <header class="bs-header">
      <div class="container">
        <h1>Zodiac Sign Predictor</h1>
        
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 main-container">
        </div>
      </div>
    </div>

    <script type="text/template" id="tpl-contacts">
      <h2 class="page-header text-center">List of Successful Predictions</h2>
      <p class="text-center">
        <a href="#contacts/new" class="btn btn-lg btn-outline">predict your zodiac sign</a>
      </p>
      <ul class="media-list row contacts-container"></ul>
    </script>

    <script type="text/template" id="tpl-contact">
      <div class="thumbnail">
        <img class="media-object" src="app/img/faces/<%- avatar %>">
      </div>
      <div class="media-heading">
        <h3>
          <%- name %>
          <small>
            <a href="#contacts/edit/<%- id %>"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="#contacts/delete/<%- id %>" class="delete-contract">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
          </small>
        </h3>
      </div>
      <div class="media-body">
        <dl>
          <dt>Date of Birth:</dt>
          <dd><%- dob %></dd>
          <dt>Place of Birth:</dt>
          <dd><%- pob %></dd>
        </dl>
      </div>
      <hr>
    </script>

    <script type="text/template" id="tpl-new-contact">
      <h2 class="page-header text-center"><%= isNew ? 'Please Enter Below' : 'Edit' %> Details</h2>
      <form role="form" class="form-horizontal contract-form">
        <div class="form-group">
          <label class="col-sm-4 control-label">Full name:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control contact-name-input" value="<%- name %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Place of Birth:</label>
          <div class="col-sm-6">
            <input type="text" class="form-control contact-email-input" value="<%- pob %>">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Date of Birth(mm-dd-yy):</label>
          <div class="col-sm-6">
            <input type="text" class="form-control contact-tel-input" value="<%- dob %>">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
          </div>
          <div class="col-sm-3">
            <a href="#contacts" class="btn btn-outline btn-lg btn-block">Cancel</a>
          </div>
        </div>
      </form>
    </script>

    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/backbone/backbone.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/models/contact.js"></script>
    <script src="app/js/collections/contacts.js"></script>
    <script src="app/js/views/contact.js"></script>
    <script src="app/js/views/contacts.js"></script>
    <script src="app/js/views/contactForm.js"></script>
    <script src="app/js/router.js"></script>

    <script>
      $(function() {
        ContactManager.start({
          contacts: [
            {
              id: 1,
              name : 'vishnu',
              dob: '22-8-90',
              pob: 'chile'
            },
            {
              id: 2,
              name : 'Steve Jobs',
              dob: '4-5-78',
              pob: 'california'
            },
            {
              id: 3,
              name : 'Gobind singh',
              dob: '1-1-91',
              pob: 'gurudwara'
            },
            {
              id: 4,
              name : 'ibrahim',
              dob: '9-9-90',
              pob: 'cairo'
            },
            {
              id: 5,
              name : 'Ester',
              dob: '8-8-91',
              pob: 'los angeles'
            },
            {
              id: 6,
              name : 'camry',
              dob: '8-4-95',
              pob: 'orlando'
            }
          ]
        });
      });
    </script>
  </body>
</html>
